* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    width: 400px;
}

.complete {
    text-decoration: line-through;
    user-select: none;
}

.form {
    margin-top: 12px;
}

.todoform {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editform {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

input {
    width: 200px;
    padding: 5px;
    margin-right: 8px;
}

.delete {
    margin-left: 5px;
}

.line {
    margin-top: 20px;
    width: 400px;
    height: 10px;
    background-color: rgb(183, 183, 183);
    border-radius: 5px;
}
.progress {
    height: 10px;
    background-color: rgb(255, 176, 176);
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #222;
}
