* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    width: 400px;
}

.complete {
    text-decoration: line-through;
    user-select: none;
    opacity: 0.8;
}

.form {
    margin-top: 12px;
}

.addbutton {
    margin-right: 20px;
    margin-left: 20px;
}

.todoform {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editform {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.buttonsfilter {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    width: 200px;
    padding: 5px;
    margin-right: 8px;
}

.title1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 3.75rem;
    line-height: 1.2;
    letter-spacing: -0.00833em;
    font-family: 'Roboto', sans-serif;
}

.title-gender {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
}

.subtitle-gender {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.title2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    margin-top: 20px;
    text-align: center;
}

.title-calorie {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 6rem;
    line-height: 1.167;
    letter-spacing: -0.01562em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title-pfc {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    margin-bottom: 10px;
}

.delete {
    margin-left: 5px;
}

.line {
    margin-top: 20px;
    width: 400px;
    height: 10px;
    background-color: rgb(183, 183, 183);
    border-radius: 5px;
}
.progress {
    height: 10px;
    background-color: rgb(255, 176, 176);
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.select-circle {
    width: 10px;
    height: 10px;
    margin-left: auto;
    border-radius: 50%;
    background-color: #222;
    text-align: center;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #222;
}

.meals {
    display: flex;
    padding: 0 60px;
    margin-bottom: 80px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.meal-form {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.meal-form-fields {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.meal {
    width: 400px;
    margin: 20px 10px 20px;
}

.meal-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dashed black;
    padding: 10px;
    width: 400px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.normaCalorie-form {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.normaCalorie-checkboxes {
    display: flex;
    align-items: center;
}

.normaCalorie-fields {
    display: flex;
    gap: 10px;
    margin: 0 20px;
}

@media (max-width: 1350px) {
    .normaCalorie-form {
        flex-direction: column;
    }
    .normaCalorie-fields {
        gap: 20px;
    }
}

@media (max-width: 916px) {
    .title1 {
        font-size: 3.2rem;
        margin-bottom: 10px;
    }
    .title2 {
        font-size: 2rem;
    }
    .title-calorie {
        font-size: 5.6rem;
    }
    .title-pfc {
        font-size: 1.9rem;
    }
}

@media (max-width: 788px) {
    .title1 {
        font-size: 2.6rem;
    }
    .title2 {
        font-size: 1.6rem;
    }
    .title-calorie {
        font-size: 5rem;
    }
    .title-pfc {
        font-size: 1.5rem;
    }
}

@media (max-width: 698px) {
    .todoform {
        flex-direction: column;
        gap: 10px;
    }
    .addbutton {
        margin-left: 0;
        margin-right: 0;
    }
    .filtertodo {
        flex-direction: column;
        align-items: center;
    }
    .buttonsfilter {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .normaCalorie-fields {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (max-width: 649px) {
    .title1 {
        font-size: 2.1rem;
    }
    .title2 {
        font-size: 1.3rem;
    }
    .title-calorie {
        font-size: 4.4rem;
    }
    .title-pfc {
        font-size: 1.2rem;
    }
}

@media (max-width: 534px) {
    .title1 {
        text-align: center;
        font-size: 1.8rem;
    }
    .title-gender {
        font-size: 1.2rem;
    }
    .subtitle-gender {
        font-size: 1.13rem;
    }
    .title2 {
        font-size: 1.2rem;
    }
    .title-calorie {
        font-size: 3.8rem;
    }
    .title-pfc {
        font-size: 1.1rem;
    }
    .meal-form {
        flex-wrap: wrap;
    }
}

@media (max-width: 408px) {
    .normaCalorie-checkboxes {
        flex-direction: column;
    }
}
